.singleSpotDetails {
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* border: 1px solid red; */
}

.singleSpott-allImg {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.single-prevImg {
    height: 425px;
    width: 400px;
    padding-left: 100px;
    padding-top: 10px;
    object-fit: cover;
}

.single-allImg {
    height: 200px;
    width: 200px;
    padding: 10px;
    object-fit: cover;
}

.single-name {
    padding-left: 100px;
}

#single-details {
    padding-left: 100px;
    padding-right: 70px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;

}

.owner-description {
    margin-right: 60px;
}

.reserve-box {
    border: 3px solid black;
    border-radius: 10px;
    padding: 20px;
    padding-right: 1px;
    padding-left: 1px;
    width: 800px;
}

.reserve-box > #reserve-button {
    display: flex;
    justify-content: center;
}

.reserve-box > .reserve-price-rating {
    display: flex;
    justify-content: center;
}

.reserve-price-rating {
    display: flex;
    column-gap: 30px;
    padding-bottom: 20px;
    align-items: center;
}

#reserve-button > button {
    border-color:  rgb(201,239,199);
    background-color: rgb(201,239,199);
    border-radius: 10px;
    padding: 10px 80px;
    justify-content: center;
}

#reserve-rating {
    display: flex;
    align-items: center;
    gap: 5px;
}

.singleSpot-reviews {
    /* padding-left: 100px; */
    margin: 100px;
    border-top: 1px solid black;
}

.new-rating {
    display: flex;
    align-items: center;
}

#post-review-button > button {
    border-color:  rgb(201,239,199);
    background-color: rgb(201,239,199);
    border-radius: 10px;
    padding: 10px 63px;
}

.delete-review-button > button {
    border-color:  rgb(201,239,199);
    background-color: rgb(201,239,199);
    border-radius: 10px;
    padding: 10px 63px;
}

.singleSpot-description {
    font-weight: 10;
}

.review-user-name {
    font-size: x-large;
    margin-bottom: 1px;
}

.review-createdAt {
    color: grey
}
