.singleSpot {
    border: 3px solid black;
    margin: 300px;
    display: grid;
    grid-template-columns: 4fr 1fr;


}

.previewImage {
    width: 230px;
    height: 200px;
    border-radius: 10px;
}


