.singleSpot {

    height: 400px;
    width: 400px;
    cursor: pointer;
}

.name {
    visibility: hidden;
}

.singleSpot:hover .name {
    visibility: visible
}

.name-image {
    border-radius: 10px;
    overflow: hidden;
}

.singleImage{
    width: 400px;
    height: 300px;
    object-fit: cover;
}

.location-rating {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.city-state {
    display: flex;

}
