.hidden {
    display: none
}

.logo {
    height: 80px;
    width: 80px;
    cursor: pointer;
}

#Navigation-Bar {
    /* border: 1px solid red; */
    border-bottom: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.session {
    list-style-type: none;
}

#menu-drop {
    list-style-type: none;
}

#user-session {
    list-style-type: none;
    position: absolute;
    right: 50px;
    top: 90px;
    height: 160px;
    width: 170px;
    border: 1px solid black;
    padding: 20px 20px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}


.loggedin {
    display: grid;
    row-gap: 10px;
}


.user-menu {
    padding: 5px;
}

#login-button {
    cursor: pointer;
}

.create-new-spot {
    /* border: 1px solid black; */
    padding-right: 10px;
    font-size: larger;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.user-navigation {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
}

.logout-button {
    border-color:  rgb(201,239,199);
    background-color: rgb(201,239,199);
    border-radius: 10px;
    padding: 5px 20px;
}

#user-session > .logout-button {
    display: flex;
    justify-content: center;
}

.manage-user-spots {
    text-decoration: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    color:black
}

.logout-login-signup-button {
    border-color:  rgb(201,239,199);
    background-color: rgb(201,239,199);
    border-radius: 10px;
    padding: 10px 50px;
}

.login-signup-buttons {
    display: grid;
    row-gap: 40px;
    justify-content: center;
    padding-top: 20px
}
