#login-form {
    display: flex;
    flex-direction: column;
    margin: 100px 100px;
    align-items: center;
    align-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#login {
    align-content: space-between;
}

.username {
    padding-bottom: 5px;
}

.password {
    padding-top: 10px;
    padding-bottom: 5px;
}

.login-buttons {
    display: grid;
    padding-top: 10px;
    padding-bottom: 5px;
    justify-content: center;
    row-gap: 10px;
}

.login-button {
    border-color:  rgb(201,239,199);
    background-color: rgb(201,239,199);
    border-radius: 10px;
    padding: 10px 63px;
}

.username-password-input {
    height: 30px;
    width: 220px;
}
